# Data Analysis - General Concepts

## Getting started
Data Analysis is done by exploiting the `pandas` library. If you don't have it, you can install it by typing `pip install pandas` or `pip3 install pandas` (if you are a linux or MAC OS user). 

Once installed, you can import it `import pandas as pd`.

In [36]:
import pandas as pd

Now you are ready to read a CSV file. In this example we are going to use the CSV `istat.csv`. Use `df = pd.read_csv('/path/to/file_with_clean_data.csv')`.

In [37]:
df = pd.read_csv('data/istat.csv')

We can give a look to the structure of the dataset through the functions `df.head()`, `df.tail()` or `df.sample()`. Between brackets we can specify the number of rows that we want to see.

In [38]:
df.head(10)

,ITTER107,Territorio,TIPO_DATO7,Indicatori,CORREZ,Correzione,TIPO_ALLOGGIO2,Tipologia di esercizio,ATECO_2007,Ateco 2007,ISO,Paese di residenza dei clienti,TIME,Seleziona periodo,Value,Flag Codes,Flags
0,IT,Italia,AR,arrivi,N,dati grezzi,ALL,totale esercizi ricettivi,551_553,"alberghi e strutture simili, alloggi per vacan...",OTH,Altri,2018-02,Feb-2018,23466,NaN,NaN
1,IT,Italia,AR,arrivi,N,dati grezzi,ALL,totale esercizi ricettivi,551_553,"alberghi e strutture simili, alloggi per vacan...",OTH,Altri,2018-03,Mar-2018,30482,NaN,NaN
2,IT,Italia,AR,arrivi,N,dati grezzi,ALL,totale esercizi ricettivi,551_553,"alberghi e strutture simili, alloggi per vacan...",OTH,Altri,2018-04,Apr-2018,32801,NaN,NaN
3,IT,Italia,AR,arrivi,N,dati grezzi,ALL,totale esercizi ricettivi,551_553,"alberghi e strutture simili, alloggi per vacan...",OTH,Altri,2018-05,Mag-2018,39142,NaN,NaN
4,IT,Italia,AR,arrivi,N,dati grezzi,ALL,totale esercizi ricettivi,551_553,"alberghi e strutture simili, alloggi per vacan...",OTH,Altri,2018-06,Giu-2018,36603,NaN,NaN
5,IT,Italia,AR,arrivi,N,dati grezzi,ALL,totale esercizi ricettivi,551_553,"alberghi e strutture simili, alloggi per vacan...",OTH,Altri,2018-07,Lug-2018,37157,NaN,NaN
6,IT,Italia,AR,arrivi,N,dati grezzi,ALL,totale esercizi ricettivi,551_553,"alberghi e strutture simili, alloggi per vacan...",OTH,Altri,2018-08,Ago-2018,31333,NaN,NaN
7,IT,Italia,AR,arrivi,N,dati grezzi,ALL,totale esercizi ricettivi,551_553,"alberghi e strutture simili, alloggi per vacan...",OTH,Altri,2018-09,Set-2018,33703,NaN,NaN
8,IT,Italia,AR,arrivi,N,dati grezzi,ALL,totale esercizi ricettivi,551_553,"alberghi e strutture simili, alloggi per vacan...",OTH,Altri,2018-10,Ott-2018,38124,NaN,NaN
9,IT,Italia,AR,arrivi,N,dati grezzi,ALL,totale esercizi ricettivi,551_553,"alberghi e strutture simili, alloggi per vacan...",OTH,Altri,2018-11,Nov-2018,27546,NaN,NaN

If we want to erase a column, we can use the function `df = df.drop('column_name', axis=1)`. Note that the original dataframe is modified when `inplace=True`.

In [39]:
df.drop('Flag Codes', axis=1, inplace=True)
df.head(1)

,ITTER107,Territorio,TIPO_DATO7,Indicatori,CORREZ,Correzione,TIPO_ALLOGGIO2,Tipologia di esercizio,ATECO_2007,Ateco 2007,ISO,Paese di residenza dei clienti,TIME,Seleziona periodo,Value,Flags
0,IT,Italia,AR,arrivi,N,dati grezzi,ALL,totale esercizi ricettivi,551_553,"alberghi e strutture simili, alloggi per vacan...",OTH,Altri,2018-02,Feb-2018,23466,NaN

To delete a row, firstly we have to set the column where to search the condition: `df.set_index('column_name')`. Then we can use `df = df.drop('label_name', axis=0)`. Then we restore the default index through the function `df.reset_index()`

In [40]:
df = df.set_index('Paese di residenza dei clienti')
df = df.drop('Altri', axis=0)
df = df.reset_index()
df.head(10)

,Paese di residenza dei clienti,ITTER107,Territorio,TIPO_DATO7,Indicatori,CORREZ,Correzione,TIPO_ALLOGGIO2,Tipologia di esercizio,ATECO_2007,Ateco 2007,ISO,TIME,Seleziona periodo,Value,Flags
0,Altri paesi africani,IT,Italia,AR,arrivi,N,dati grezzi,ALL,totale esercizi ricettivi,551_553,"alberghi e strutture simili, alloggi per vacan...",AFR_OTH,2018-02,Feb-2018,11380,NaN
1,Altri paesi africani,IT,Italia,AR,arrivi,N,dati grezzi,ALL,totale esercizi ricettivi,551_553,"alberghi e strutture simili, alloggi per vacan...",AFR_OTH,2018-03,Mar-2018,13057,NaN
2,Altri paesi africani,IT,Italia,AR,arrivi,N,dati grezzi,ALL,totale esercizi ricettivi,551_553,"alberghi e strutture simili, alloggi per vacan...",AFR_OTH,2018-04,Apr-2018,13145,NaN
3,Altri paesi africani,IT,Italia,AR,arrivi,N,dati grezzi,ALL,totale esercizi ricettivi,551_553,"alberghi e strutture simili, alloggi per vacan...",AFR_OTH,2018-05,Mag-2018,15234,NaN
4,Altri paesi africani,IT,Italia,AR,arrivi,N,dati grezzi,ALL,totale esercizi ricettivi,551_553,"alberghi e strutture simili, alloggi per vacan...",AFR_OTH,2018-06,Giu-2018,15706,NaN
5,Altri paesi africani,IT,Italia,AR,arrivi,N,dati grezzi,ALL,totale esercizi ricettivi,551_553,"alberghi e strutture simili, alloggi per vacan...",AFR_OTH,2018-07,Lug-2018,20822,NaN
6,Altri paesi africani,IT,Italia,AR,arrivi,N,dati grezzi,ALL,totale esercizi ricettivi,551_553,"alberghi e strutture simili, alloggi per vacan...",AFR_OTH,2018-08,Ago-2018,17971,NaN
7,Altri paesi africani,IT,Italia,AR,arrivi,N,dati grezzi,ALL,totale esercizi ricettivi,551_553,"alberghi e strutture simili, alloggi per vacan...",AFR_OTH,2018-09,Set-2018,16876,NaN
8,Altri paesi africani,IT,Italia,AR,arrivi,N,dati grezzi,ALL,totale esercizi ricettivi,551_553,"alberghi e strutture simili, alloggi per vacan...",AFR_OTH,2018-10,Ott-2018,15359,NaN
9,Altri paesi africani,IT,Italia,AR,arrivi,N,dati grezzi,ALL,totale esercizi ricettivi,551_553,"alberghi e strutture simili, alloggi per vacan...",AFR_OTH,2018-11,Nov-2018,11375,NaN

In order to get all the possible values assumed by a given column, we can use the function `df['column_name'].unique()`.

In [41]:
df['Indicatori'].unique()

array(['arrivi ', 'presenze'], dtype=object)

## Statistical summary
Now we can analyse the table by getting some basic statistics about each column. We can use the function `df.describe()`, which gives information only about numeric columns. In order to have information also for non-numeric columns, we should use the function `df.describe(include='all')`.

Parameters returned by `df.describe()`:
* **count**: number of values in the column
* **unique**: number of unique values in the column
* **top**: first value in the column
* **freq**: the most common value’s frequency
* **mean**: average value
* **std**: standard deviation
* **min**: minimum value, lowest value in the column
* **25%**: first percentile
* **50%**: second percentile, this is the same as the median
* **75%**: thirth percentile
* **max**: maximum value, highest value in the column

If a column does not contain numeric value, only those parameters that are applicable are returned. Python gives you NaN-values when the column does not contain a numeric value - NaN is the abbreviation for Not a Number.

In [43]:
df.describe(include='all')

,Paese di residenza dei clienti,ITTER107,Territorio,TIPO_DATO7,Indicatori,CORREZ,Correzione,TIPO_ALLOGGIO2,Tipologia di esercizio,ATECO_2007,Ateco 2007,ISO,TIME,Seleziona periodo,Value,Flags
count,3900,3900,3900,3900,3900,3900,3900,3900,3900,3900,3900,3900,3900,3900,3.900000e+03,66
unique,58,1,1,2,2,1,1,3,3,1,1,58,23,23,NaN,1
top,Italia,IT,Italia,NI,arrivi,N,dati grezzi,ALL,totale esercizi ricettivi,551_553,"alberghi e strutture simili, alloggi per vacan...",WORLD,2018-09,Dic-2018,NaN,dato provvisorio
freq,90,3900,3900,1950,1950,3900,3900,1348,1348,3900,3900,90,348,348,NaN,66
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.103684e+06,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.752282e+06,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.500000e+01,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.305050e+04,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.766150e+04,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.976482e+05,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.369164e+07,NaN

We can know the number of rows and columns in the table using `df.shape`, which returns `(n_rows, n_columns)`.

In [44]:
df.shape

(3900, 16)

### Central Tendency
Use `import numpy as np` and `from scipy import stats` (`pip install numpy` and `pip install scipy`)
* mean `np.mean(value)`
* moda `stats.mode(value)`
* median `np.median(value)`

In [48]:
value = df['Value']
mean_value = np.mean(value)
mode_value = stats.mode(value)
np.median(value)

47661.5

### Variability

* min, max, range `np.min(value)`, `np.max(value)`, 
* percentile `np.percentile(value, 25)`
* variance, standard deviation `np.var(value)` `np.std(value)`

In [58]:
perc_value = np.percentile(value,75)
np.var(value)

22578395796318.99

In [60]:
np.std(value)**2

22578395796318.992

### Frenquency
* count `np.unique(value, return_counts=True)`
* percentage

In [67]:
unique, counts = np.unique(df['Indicatori'], return_counts=True)
count_ind = dict(zip(unique, counts))
count_ind

{'arrivi ': 1950, 'presenze': 1950}

In [72]:
n = len(df['Indicatori'])
for k in count_ind:
    print(count_ind[k]/n*100)

50.0
50.0

## Filters
Firstly, we can get all the values of a column simply by writing `df['column_name']`. If we want also a specific row, we can write `df['column_name'][row_number]`.

In [75]:
df['Paese di residenza dei clienti'][100]

'Argentina'


Now we can filter data in the table by selecting only some rows which satisfy a given criterion. For example, we can extract only data where `Paese di residenza dei clienti` is Australia. We can use the following notation: `df[df['column_name'] == 'Australia']`

In [76]:
df[df['Paese di residenza dei clienti'] == 'Australia']

,Paese di residenza dei clienti,ITTER107,Territorio,TIPO_DATO7,Indicatori,CORREZ,Correzione,TIPO_ALLOGGIO2,Tipologia di esercizio,ATECO_2007,Ateco 2007,ISO,TIME,Seleziona periodo,Value,Flags
154,Australia,IT,Italia,AR,arrivi,N,dati grezzi,ALL,totale esercizi ricettivi,551_553,"alberghi e strutture simili, alloggi per vacan...",AU,2018-02,Feb-2018,15918,NaN
155,Australia,IT,Italia,AR,arrivi,N,dati grezzi,ALL,totale esercizi ricettivi,551_553,"alberghi e strutture simili, alloggi per vacan...",AU,2018-03,Mar-2018,22529,NaN
156,Australia,IT,Italia,AR,arrivi,N,dati grezzi,ALL,totale esercizi ricettivi,551_553,"alberghi e strutture simili, alloggi per vacan...",AU,2018-04,Apr-2018,61425,NaN
157,Australia,IT,Italia,AR,arrivi,N,dati grezzi,ALL,totale esercizi ricettivi,551_553,"alberghi e strutture simili, alloggi per vacan...",AU,2018-05,Mag-2018,110316,NaN
158,Australia,IT,Italia,AR,arrivi,N,dati grezzi,ALL,totale esercizi ricettivi,551_553,"alberghi e strutture simili, alloggi per vacan...",AU,2018-06,Giu-2018,151879,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3444,Australia,IT,Italia,NI,presenze,N,dati grezzi,OTHER,esercizi extra-alberghieri,551_553,"alberghi e strutture simili, alloggi per vacan...",AU,2018-08,Ago-2018,108702,NaN
3445,Australia,IT,Italia,NI,presenze,N,dati grezzi,OTHER,esercizi extra-alberghieri,551_553,"alberghi e strutture simili, alloggi per vacan...",AU,2018-09,Set-2018,156180,NaN
3446,Australia,IT,Italia,NI,presenze,N,dati grezzi,OTHER,esercizi extra-alberghieri,551_553,"alberghi e strutture simili, alloggi per vacan...",AU,2018-10,Ott-2018,87204,NaN
3447,Australia,IT,Italia,NI,presenze,N,dati grezzi,OTHER,esercizi extra-alberghieri,551_553,"alberghi e strutture simili, alloggi per vacan...",AU,2018-11,Nov-2018,26515,NaN
3448,Australia,IT,Italia,NI,presenze,N,dati grezzi,OTHER,esercizi extra-alberghieri,551_553,"alberghi e strutture simili, alloggi per vacan...",AU,2018-12,Dic-2018,34649,NaN

As further example, we can reduce the list of countries only to Australia, Canada, Cina, Finlandia, Francia, Germania, Giappone, India, Regno Unito, Russia, Spagna, Svezia, Stati Uniti. 
We can build a list containing all these countries and then we can use the function `df.isin(list)` to apply the filter.

In [78]:
countries = ['Australia', 'Canada', 'Cina', 'Finlandia','Francia', 'Germania', 'Giappone', 'India', 'Regno unito', 'Russia', 'Spagna', 'Svezia', 'Stati Uniti']
arrivals = df[df['Paese di residenza dei clienti'].isin(countries)]
arrivals['Paese di residenza dei clienti'].unique()

array(['Altri paesi africani', "Altri Paesi dell'Asia", 'Unione europea',
       "Altri Paesi dell'Oceania", 'Argentina',
       'Altri Paesi del medio oriente (Arabia Saudita, Barhein, Emirati Arabi Uniti, Giordania, Irak, Iran, Kuwait, Oman, Quatar, Siria, Yemen)',
       'Austria', 'Australia', 'Belgio', 'Bulgaria', 'Brasile', 'Canada',
       'Cina', 'Cipro', 'Ceca, Repubblica', 'Germania', 'Danimarca',
       'Estonia', 'Egitto', 'Spagna', 'Paesi europei non Ue',
       'Altri paesi europei', 'Finlandia', 'Francia', 'Grecia', 'Croazia',
       'Ungheria', 'Irlanda', 'Israele', 'India', 'Islanda', 'Italia',
       'Giappone', 'Corea del sud', 'Lituania', 'Lussemburgo', 'Lettonia',
       'Malta', 'Messico', 'Paesi Bassi', 'Norvegia', 'Nuova Zelanda',
       'Polonia', 'Portogallo', 'Romania', 'Russia', 'Svezia', 'Slovenia',
       'Slovacchia', 'Turchia', 'Regno unito', 'Stati Uniti', 'Venezuela',
       'Mondo', 'Sud Africa',
       "Paesi dell'Africa mediterranea (Libia, Tunisia, Algeria, Marocco)",
       'Paesi esteri', 'Paesi extra europei'], dtype=object)

## Sort data
We can sort data by a column through the function `df.sort_values(by='column_name')`. If we want to sort by descending order, we can use `df.sort_values(by='column_name', ascending=False)`. Let's try to sort by `Paese di residenza dei clienti`:

In [80]:
df.sort_values(by='Paese di residenza dei clienti', ascending=False)

,Paese di residenza dei clienti,ITTER107,Territorio,TIPO_DATO7,Indicatori,CORREZ,Correzione,TIPO_ALLOGGIO2,Tipologia di esercizio,ATECO_2007,Ateco 2007,ISO,TIME,Seleziona periodo,Value,Flags
2538,Venezuela,IT,Italia,NI,presenze,N,dati grezzi,ALL,totale esercizi ricettivi,551_553,"alberghi e strutture simili, alloggi per vacan...",VE,2018-07,Lug-2018,18378,NaN
3514,Venezuela,IT,Italia,NI,presenze,N,dati grezzi,HOTELLIKE,esercizi alberghieri,551_553,"alberghi e strutture simili, alloggi per vacan...",VE,2018-12,Dic-2018,8427,NaN
927,Venezuela,IT,Italia,AR,arrivi,N,dati grezzi,ALL,totale esercizi ricettivi,551_553,"alberghi e strutture simili, alloggi per vacan...",VE,2018-04,Apr-2018,2992,NaN
928,Venezuela,IT,Italia,AR,arrivi,N,dati grezzi,ALL,totale esercizi ricettivi,551_553,"alberghi e strutture simili, alloggi per vacan...",VE,2018-05,Mag-2018,3570,NaN
929,Venezuela,IT,Italia,AR,arrivi,N,dati grezzi,ALL,totale esercizi ricettivi,551_553,"alberghi e strutture simili, alloggi per vacan...",VE,2018-06,Giu-2018,4274,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129,"Altri Paesi del medio oriente (Arabia Saudita,...",IT,Italia,AR,arrivi,N,dati grezzi,HOTELLIKE,esercizi alberghieri,551_553,"alberghi e strutture simili, alloggi per vacan...",ASI_W_OTH,2018-10,Ott-2018,28588,NaN
128,"Altri Paesi del medio oriente (Arabia Saudita,...",IT,Italia,AR,arrivi,N,dati grezzi,HOTELLIKE,esercizi alberghieri,551_553,"alberghi e strutture simili, alloggi per vacan...",ASI_W_OTH,2018-09,Set-2018,38349,NaN
127,"Altri Paesi del medio oriente (Arabia Saudita,...",IT,Italia,AR,arrivi,N,dati grezzi,HOTELLIKE,esercizi alberghieri,551_553,"alberghi e strutture simili, alloggi per vacan...",ASI_W_OTH,2018-08,Ago-2018,71609,NaN
126,"Altri Paesi del medio oriente (Arabia Saudita,...",IT,Italia,AR,arrivi,N,dati grezzi,HOTELLIKE,esercizi alberghieri,551_553,"alberghi e strutture simili, alloggi per vacan...",ASI_W_OTH,2018-07,Lug-2018,62193,NaN
3818,"Altri Paesi del medio oriente (Arabia Saudita,...",IT,Italia,NI,presenze,N,dati grezzi,OTHER,esercizi extra-alberghieri,551_553,"alberghi e strutture simili, alloggi per vacan...",ASI_W_OTH,2018-08,Ago-2018,40078,NaN

## Other statistics
Now we sum all the values contained in a column through the function `df['value'].sum()`.

In [81]:
df['Value'].sum()

4304367202

We can also calculate the sum of values contained into a column for each different value contained into another column. This is the classical `groupby` function, which can be used by typing: `df.groupby('column_name1')['column_name2']`. For example, if we want to calculate the sum of values for each country (`Paese di residenza dei clienti`), we can write:

In [82]:
countries = df.groupby('Paese di residenza dei clienti')['Value'].sum()
countries.head(10)

Paese di residenza dei clienti
Altri Paesi del medio oriente (Arabia Saudita, Barhein, Emirati Arabi Uniti, Giordania, Irak, Iran, Kuwait, Oman, Quatar, Siria, Yemen)     3652042
Altri Paesi dell'Asia                                                                                                                       7042858
Altri Paesi dell'Oceania                                                                                                                     273766
Altri paesi africani                                                                                                                        1774788
Altri paesi europei                                                                                                                         9338296
Argentina                                                                                                                                   4657438
Australia                                                                                                                                   7380780
Austria                                                                                                                                    23949702
Belgio                                                                                                                                     12035406
Brasile                                                                                                                                     6638676
Name: Value, dtype: int64

The same result can be obtained also through the pivot tables, which are tables of statistics, which summarize data of the original table. A pivot table can be built through the function `df.pivot_table()`.

The simplest pivot table can be built by passing an index to the function, representing the column for which the summary must be built: `df.pivot_table(index=['column_name1', 'column_name2'])`. If we want to specify only one column, we can avoid the brackets after `index=`. By default, the results contains all the columns containing a numeric value.

In [83]:
df.pivot_table(index=['Paese di residenza dei clienti','Seleziona periodo'])

                                                                              Value
Paese di residenza dei clienti                     Seleziona periodo
Altri Paesi del medio oriente (Arabia Saudita, ... Ago-2018           109550.000000
                                                   Apr-2018            50167.000000
                                                   Dic-2018            37609.333333
                                                   Feb-2018            32097.333333
                                                   Giu-2018            52840.000000
...                                                                             ...
Venezuela                                          Mag-2018             4935.666667
                                                   Mar-2018             3611.000000
                                                   Nov-2018             3751.000000
                                                   Ott-2018             4573.333333
                                                   Set-2018             6457.666667

[674 rows x 1 columns]

In the pivot table we can also define which columns must included: `df.pivot_table(index=['colum1', 'column2'], columns=['column2','column3'])`. What is the difference between `df.pivot_table(index=['Paese di residenza dei clienti','Seleziona periodo'])` and `df.pivot_table(index=['Paese di residenza dei clienti'], columns=['Seleziona periodo'])` ?

In [84]:
df.pivot_table(index=['Paese di residenza dei clienti'], columns=['Seleziona periodo'])

                                                           Value              \
Seleziona periodo                                       Ago-2018    Ago-2019
Paese di residenza dei clienti
Altri Paesi del medio oriente (Arabia Saudita, ...  1.095500e+05         NaN
Altri Paesi dell'Asia                               1.123497e+05         NaN
Altri Paesi dell'Oceania                            5.133333e+03         NaN
Altri paesi africani                                3.157233e+04         NaN
Altri paesi europei                                 2.037197e+05         NaN
Argentina                                           8.222867e+04         NaN
Australia                                           1.557827e+05         NaN
Austria                                             6.746453e+05         NaN
Belgio                                              3.498767e+05         NaN
Brasile                                             1.000213e+05         NaN
Bulgaria                                            2.858067e+04         NaN
Canada                                              1.445940e+05         NaN
Ceca, Repubblica                                    2.213513e+05         NaN
Cina                                                3.192737e+05         NaN
Cipro                                               6.824667e+03         NaN
Corea del sud                                       8.163400e+04         NaN
Croazia                                             2.307267e+04         NaN
Danimarca                                           1.116237e+05         NaN
Egitto                                              1.221233e+04         NaN
Estonia                                             9.824000e+03         NaN
Finlandia                                           3.291900e+04         NaN
Francia                                             1.322513e+06         NaN
Germania                                            4.180822e+06         NaN
Giappone                                            1.065737e+05         NaN
Grecia                                              4.311600e+04         NaN
India                                               5.280200e+04         NaN
Irlanda                                             9.664633e+04         NaN
Islanda                                             7.498000e+03         NaN
Israele                                             1.283253e+05         NaN
Italia                                              1.958613e+07  29513913.0
Lettonia                                            1.101467e+04         NaN
Lituania                                            1.783733e+04         NaN
Lussemburgo                                         3.654233e+04         NaN
Malta                                               1.971933e+04         NaN
Messico                                             3.798800e+04         NaN
Mondo                                               3.371501e+07  50718774.5
Norvegia                                            5.159000e+04         NaN
Nuova Zelanda                                       2.108367e+04         NaN
Paesi Bassi                                         1.279945e+06         NaN
Paesi dell'Africa mediterranea (Libia, Tunisia,...  3.589300e+04         NaN
Paesi esteri                                        1.412888e+07  21204861.5
Paesi europei non Ue                                1.124189e+06         NaN
Paesi extra europei                                 2.346158e+06         NaN
Polonia                                             2.967003e+05         NaN
Portogallo                                          6.416367e+04         NaN
Regno unito                                         8.965377e+05         NaN
Romania                                             1.475500e+05         NaN
Russia                                              3.182720e+05         NaN
Slovacchia                                          8.989067e+04         NaN
Slovenia                                            3.734433e+04         NaN
Spagna                                              4.067240e+05         NaN
Stati Uniti                                         6.601363e+05         NaN
Sud Africa                                          1.370333e+04         NaN
Svezia                                              9.743267e+04         NaN
Turchia                                             5.555733e+04         NaN
Ungheria                                            1.553157e+05         NaN
Unione europea                                      1.065853e+07         NaN
Venezuela                                           7.924667e+03         NaN

                                                                              \
Seleziona periodo                                       Apr-2018    Apr-2019
Paese di residenza dei clienti
Altri Paesi del medio oriente (Arabia Saudita, ...  5.016700e+04         NaN
Altri Paesi dell'Asia                               1.143627e+05         NaN
Altri Paesi dell'Oceania                            4.046000e+03         NaN
Altri paesi africani                                2.470933e+04         NaN
Altri paesi europei                                 1.277520e+05         NaN
Argentina                                           7.302433e+04         NaN
Australia                                           7.383033e+04         NaN
Austria                                             2.390747e+05         NaN
Belgio                                              1.707190e+05         NaN
Brasile                                             9.918500e+04         NaN
Bulgaria                                            3.173133e+04         NaN
Canada                                              6.630367e+04         NaN
Ceca, Repubblica                                    3.946933e+04         NaN
Cina                                                2.532297e+05         NaN
Cipro                                               3.519333e+03         NaN
Corea del sud                                       7.694800e+04         NaN
Croazia                                             3.387300e+04         NaN
Danimarca                                           4.655567e+04         NaN
Egitto                                              1.022767e+04         NaN
Estonia                                             8.248333e+03         NaN
Finlandia                                           3.245133e+04         NaN
Francia                                             5.502230e+05         NaN
Germania                                            1.277001e+06         NaN
Giappone                                            6.886133e+04         NaN
Grecia                                              3.903933e+04         NaN
India                                               4.638800e+04         NaN
Irlanda                                             3.786667e+04         NaN
Islanda                                             3.071667e+03         NaN
Israele                                             5.782500e+04         NaN
Italia                                              5.916213e+06   9177986.0
Lettonia                                            7.769333e+03         NaN
Lituania                                            1.384567e+04         NaN
Lussemburgo                                         1.100767e+04         NaN
Malta                                               1.222767e+04         NaN
Messico                                             3.093000e+04         NaN
Mondo                                               1.211081e+07  19198901.0
Norvegia                                            3.217233e+04         NaN
Nuova Zelanda                                       1.031967e+04         NaN
Paesi Bassi                                         1.783560e+05         NaN
Paesi dell'Africa mediterranea (Libia, Tunisia,...  2.179800e+04         NaN
Paesi esteri                                        6.194594e+06  10020915.0
Paesi europei non Ue                                7.212003e+05         NaN
Paesi extra europei                                 1.691729e+06         NaN
Polonia                                             1.524483e+05         NaN
Portogallo                                          3.740000e+04         NaN
Regno unito                                         4.089413e+05         NaN
Romania                                             7.595800e+04         NaN
Russia                                              1.594393e+05         NaN
Slovacchia                                          1.426667e+04         NaN
Slovenia                                            3.907467e+04         NaN
Spagna                                              2.002193e+05         NaN
Stati Uniti                                         5.073203e+05         NaN
Sud Africa                                          9.801000e+03         NaN
Svezia                                              7.671467e+04         NaN
Turchia                                             4.629600e+04         NaN
Ungheria                                            4.366333e+04         NaN
Unione europea                                      3.781665e+06         NaN
Venezuela                                           4.206333e+03         NaN

                                                                              \
Seleziona periodo                                       Dic-2018    Dic-2019
Paese di residenza dei clienti
Altri Paesi del medio oriente (Arabia Saudita, ...  3.760933e+04         NaN
Altri Paesi dell'Asia                               1.040217e+05         NaN
Altri Paesi dell'Oceania                            3.253667e+03         NaN
Altri paesi africani                                2.341533e+04         NaN
Altri paesi europei                                 9.108033e+04         NaN
Argentina                                           1.844333e+04         NaN
Australia                                           4.554800e+04         NaN
Austria                                             6.122167e+04         NaN
Belgio                                              4.658000e+04         NaN
Brasile                                             6.970767e+04         NaN
Bulgaria                                            1.417567e+04         NaN
Canada                                              2.075300e+04         NaN
Ceca, Repubblica                                    6.600167e+04         NaN
Cina                                                1.400120e+05         NaN
Cipro                                               2.209000e+03         NaN
Corea del sud                                       6.008033e+04         NaN
Croazia                                             2.198700e+04         NaN
Danimarca                                           1.605000e+04         NaN
Egitto                                              8.663333e+03         NaN
Estonia                                             3.603333e+03         NaN
Finlandia                                           9.535333e+03         NaN
Francia                                             1.803913e+05         NaN
Germania                                            4.413697e+05         NaN
Giappone                                            6.904200e+04         NaN
Grecia                                              3.376567e+04         NaN
India                                               2.939200e+04         NaN
Irlanda                                             1.512233e+04         NaN
Islanda                                             2.090667e+03         NaN
Israele                                             3.830067e+04         NaN
Italia                                              5.114516e+06   7839593.0
Lettonia                                            5.305000e+03         NaN
Lituania                                            9.883667e+03         NaN
Lussemburgo                                         5.686000e+03         NaN
Malta                                               1.262333e+04         NaN
Messico                                             2.541933e+04         NaN
Mondo                                               8.001743e+06  12547821.0
Norvegia                                            7.982667e+03         NaN
Nuova Zelanda                                       5.552333e+03         NaN
Paesi Bassi                                         5.721233e+04         NaN
Paesi dell'Africa mediterranea (Libia, Tunisia,...  2.173067e+04         NaN
Paesi esteri                                        2.887227e+06   4708228.0
Paesi europei non Ue                                3.290497e+05         NaN
Paesi extra europei                                 1.017283e+06         NaN
Polonia                                             7.890167e+04         NaN
Portogallo                                          2.294433e+04         NaN
Regno unito                                         1.545913e+05         NaN
Romania                                             5.777233e+04         NaN
Russia                                              9.493500e+04         NaN
Slovacchia                                          1.348633e+04         NaN
Slovenia                                            2.984233e+04         NaN
Spagna                                              1.428117e+05         NaN
Stati Uniti                                         2.076030e+05         NaN
Sud Africa                                          1.113800e+04         NaN
Svezia                                              1.963133e+04         NaN
Turchia                                             2.172600e+04         NaN
Ungheria                                            1.819000e+04         NaN
Unione europea                                      1.540894e+06         NaN
Venezuela                                           4.805333e+03         NaN

                                                                              \
Seleziona periodo                                       Feb-2018    Feb-2019
Paese di residenza dei clienti
Altri Paesi del medio oriente (Arabia Saudita, ...  3.209733e+04         NaN
Altri Paesi dell'Asia                               6.228533e+04         NaN
Altri Paesi dell'Oceania                            2.375667e+03         NaN
Altri paesi africani                                2.221567e+04         NaN
Altri paesi europei                                 9.317867e+04         NaN
Argentina                                           4.221833e+04         NaN
Australia                                           2.153633e+04         NaN
Austria                                             8.057067e+04         NaN
Belgio                                              1.283660e+05         NaN
Brasile                                             6.090667e+04         NaN
Bulgaria                                            2.099667e+04         NaN
Canada                                              1.882767e+04         NaN
Ceca, Repubblica                                    1.529417e+05         NaN
Cina                                                2.212837e+05         NaN
Cipro                                               3.014000e+03         NaN
Corea del sud                                       6.628167e+04         NaN
Croazia                                             1.635000e+04         NaN
Danimarca                                           5.249133e+04         NaN
Egitto                                              8.173333e+03         NaN
Estonia                                             5.515667e+03         NaN
Finlandia                                           1.721700e+04         NaN
Francia                                             2.411760e+05         NaN
Germania                                            7.354940e+05         NaN
Giappone                                            1.142643e+05         NaN
Grecia                                              2.649000e+04         NaN
India                                               2.014400e+04         NaN
Irlanda                                             3.276700e+04         NaN
Islanda                                             3.986667e+03         NaN
Israele                                             3.901400e+04         NaN
Italia                                              4.138619e+06   6435817.5
Lettonia                                            8.457333e+03         NaN
Lituania                                            1.604833e+04         NaN
Lussemburgo                                         9.315667e+03         NaN
Malta                                               9.514000e+03         NaN
Messico                                             1.344500e+04         NaN
Mondo                                               8.135214e+06  12286673.0
Norvegia                                            1.795700e+04         NaN
Nuova Zelanda                                       2.843667e+03         NaN
Paesi Bassi                                         1.206037e+05         NaN
Paesi dell'Africa mediterranea (Libia, Tunisia,...  1.719000e+04         NaN
Paesi esteri                                        3.996594e+06   5850855.5
Paesi europei non Ue                                3.737603e+05         NaN
Paesi extra europei                                 9.960887e+05         NaN
Polonia                                             1.801153e+05         NaN
Portogallo                                          2.838267e+04         NaN
Regno unito                                         3.453100e+05         NaN
Romania                                             7.405367e+04         NaN
Russia                                              1.145330e+05         NaN
Slovacchia                                          1.780400e+04         NaN
Slovenia                                            4.378567e+04         NaN
Spagna                                              1.413447e+05         NaN
Stati Uniti                                         1.573753e+05         NaN
Sud Africa                                          4.081333e+03         NaN
Svezia                                              8.341133e+04         NaN
Turchia                                             2.895233e+04         NaN
Ungheria                                            3.520900e+04         NaN
Unione europea                                      2.626745e+06         NaN
Venezuela                                           2.720667e+03         NaN

                                                                              \
Seleziona periodo                                     Gen-2019      Giu-2018
Paese di residenza dei clienti
Altri Paesi del medio oriente (Arabia Saudita, ...         NaN  5.284000e+04
Altri Paesi dell'Asia                                      NaN  1.321493e+05
Altri Paesi dell'Oceania                                   NaN  5.134667e+03
Altri paesi africani                                       NaN  2.906967e+04
Altri paesi europei                                        NaN  1.753707e+05
Argentina                                                  NaN  8.935600e+04
Australia                                                  NaN  1.811740e+05
Austria                                                    NaN  6.142760e+05
Belgio                                                     NaN  1.793283e+05
Brasile                                                    NaN  1.169987e+05
Bulgaria                                                   NaN  3.376467e+04
Canada                                                     NaN  1.233117e+05
Ceca, Repubblica                                           NaN  2.121640e+05
Cina                                                       NaN  2.775683e+05
Cipro                                                      NaN  3.934667e+03

As further example, we build a pivot table which gives the arrivals for each country by time.

In [86]:
table = arrivals.pivot_table(index='Paese di residenza dei clienti', columns='TIME')
table

                                        Value                              \
TIME                                  2018-02       2018-03       2018-04
Paese di residenza dei clienti
Australia                        21536.333333  2.850533e+04  7.383033e+04
Canada                           18827.666667  4.773633e+04  6.630367e+04
Cina                            221283.666667  1.873170e+05  2.532297e+05
Finlandia                        17217.000000  2.287667e+04  3.245133e+04
Francia                         241176.000000  3.024053e+05  5.502230e+05
Germania                        735494.000000  1.231434e+06  1.277001e+06
Giappone                        114264.333333  1.073547e+05  6.886133e+04
India                            20144.000000  2.796267e+04  4.638800e+04
Regno unito                     345310.000000  3.588577e+05  4.089413e+05
Russia                          114533.000000  1.440693e+05  1.594393e+05
Spagna                          141344.666667  2.211947e+05  2.002193e+05
Stati Uniti                     157375.333333  3.809060e+05  5.073203e+05
Svezia                           83411.333333  8.280800e+04  7.671467e+04

                                                                          \
TIME                                 2018-05       2018-06       2018-07
Paese di residenza dei clienti
Australia                       1.286073e+05  1.811740e+05  2.283907e+05
Canada                          1.313010e+05  1.233117e+05  1.659333e+05
Cina                            2.641763e+05  2.775683e+05  3.368203e+05
Finlandia                       4.162933e+04  6.924000e+04  7.380333e+04
Francia                         7.409943e+05  5.986030e+05  9.515270e+05
Germania                        3.228327e+06  2.775740e+06  3.425998e+06
Giappone                        8.277267e+04  9.660867e+04  8.378433e+04
India                           1.077207e+05  9.864633e+04  7.044667e+04
Regno unito                     6.218590e+05  7.583297e+05  8.087520e+05
Russia                          1.763143e+05  2.710340e+05  3.555050e+05
Spagna                          1.986830e+05  2.499457e+05  3.020073e+05
Stati Uniti                     7.776507e+05  1.012412e+06  9.104950e+05
Svezia                          9.237567e+04  1.436167e+05  2.465903e+05

                                                                          \
TIME                                 2018-08       2018-09       2018-10
Paese di residenza dei clienti
Australia                       1.557827e+05  2.131897e+05  1.192190e+05
Canada                          1.445940e+05  1.919690e+05  1.314947e+05
Cina                            3.192737e+05  2.625627e+05  2.576047e+05
Finlandia                       3.291900e+04  4.456700e+04  3.356000e+04
Francia                         1.322513e+06  6.474057e+05  4.219520e+05
Germania                        4.180822e+06  3.623757e+06  1.826278e+06
Giappone                        1.065737e+05  1.031990e+05  1.015113e+05
India                           5.280200e+04  5.178933e+04  4.948700e+04
Regno unito                     8.965377e+05  7.815890e+05  4.443427e+05
Russia                          3.182720e+05  2.718073e+05  1.523567e+05
Spagna                          4.067240e+05  2.703563e+05  2.060617e+05
Stati Uniti                     6.601363e+05  8.922360e+05  7.639960e+05
Svezia                          9.743267e+04  1.200207e+05  7.830200e+04


TIME                                  2018-11        2018-12
Paese di residenza dei clienti
Australia                        34346.666667   45548.000000
Canada                           36056.666667   20753.000000
Cina                            175182.000000  140012.000000
Finlandia                        14734.333333    9535.333333
Francia                         193882.666667  180391.333333
Germania                        311790.333333  441369.666667
Giappone                         83811.333333   69042.000000
India                            31805.000000   29392.000000
Regno unito                     163943.666667  154591.333333
Russia                           99319.000000   94935.000000
Spagna                          155565.000000  142811.666667
Stati Uniti                     303561.333333  207603.000000
Svezia                           29079.000000   19631.333333

Now we save the pivot table to csv by using the function `to_csv()` applied to the dataframe. If we open the csv we note that the csv table contains the field Value as heading of all columns. We can use the following trick to have a better formatted table: we can open again the file and skip the first row.

In [87]:
table.to_csv("data/istat_arrivals.csv")
arrivals = pd.read_csv('data/istat_arrivals.csv', skiprows=1)
arrivals.head(5)

,TIME,2018-02,2018-03,2018-04,2018-05,2018-06,2018-07,2018-08,2018-09,2018-10,2018-11,2018-12
0,Paese di residenza dei clienti,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Australia,21536.333333,28505.333333,73830.333333,128607.333333,181174.000000,228390.666667,155782.666667,213189.666667,119219.000000,34346.666667,45548.000000
2,Canada,18827.666667,47736.333333,66303.666667,131301.000000,123311.666667,165933.333333,144594.000000,191969.000000,131494.666667,36056.666667,20753.000000
3,Cina,221283.666667,187317.000000,253229.666667,264176.333333,277568.333333,336820.333333,319273.666667,262562.666667,257604.666667,175182.000000,140012.000000
4,Finlandia,17217.000000,22876.666667,32451.333333,41629.333333,69240.000000,73803.333333,32919.000000,44567.000000,33560.000000,14734.333333,9535.333333

We note that also the first row is not correct. Thus we can remove it by using the `df.drop()` function with `axis=0`. Please remind that `axis=1` erases columns while `axis=0` erases rows.

In [99]:
arrivals = arrivals.drop(0,axis=0)
arrivals

,TIME,2018-02,2018-03,2018-04,2018-05,2018-06,2018-07,2018-08,2018-09,2018-10,2018-11,2018-12
1,Australia,21536.333333,2.850533e+04,7.383033e+04,1.286073e+05,1.811740e+05,2.283907e+05,1.557827e+05,2.131897e+05,1.192190e+05,34346.666667,45548.000000
2,Canada,18827.666667,4.773633e+04,6.630367e+04,1.313010e+05,1.233117e+05,1.659333e+05,1.445940e+05,1.919690e+05,1.314947e+05,36056.666667,20753.000000
3,Cina,221283.666667,1.873170e+05,2.532297e+05,2.641763e+05,2.775683e+05,3.368203e+05,3.192737e+05,2.625627e+05,2.576047e+05,175182.000000,140012.000000
4,Finlandia,17217.000000,2.287667e+04,3.245133e+04,4.162933e+04,6.924000e+04,7.380333e+04,3.291900e+04,4.456700e+04,3.356000e+04,14734.333333,9535.333333
5,Francia,241176.000000,3.024053e+05,5.502230e+05,7.409943e+05,5.986030e+05,9.515270e+05,1.322513e+06,6.474057e+05,4.219520e+05,193882.666667,180391.333333
6,Germania,735494.000000,1.231434e+06,1.277001e+06,3.228327e+06,2.775740e+06,3.425998e+06,4.180822e+06,3.623757e+06,1.826278e+06,311790.333333,441369.666667
7,Giappone,114264.333333,1.073547e+05,6.886133e+04,8.277267e+04,9.660867e+04,8.378433e+04,1.065737e+05,1.031990e+05,1.015113e+05,83811.333333,69042.000000
8,India,20144.000000,2.796267e+04,4.638800e+04,1.077207e+05,9.864633e+04,7.044667e+04,5.280200e+04,5.178933e+04,4.948700e+04,31805.000000,29392.000000
9,Regno unito,345310.000000,3.588577e+05,4.089413e+05,6.218590e+05,7.583297e+05,8.087520e+05,8.965377e+05,7.815890e+05,4.443427e+05,163943.666667,154591.333333
10,Russia,114533.000000,1.440693e+05,1.594393e+05,1.763143e+05,2.710340e+05,3.555050e+05,3.182720e+05,2.718073e+05,1.523567e+05,99319.000000,94935.000000
11,Spagna,141344.666667,2.211947e+05,2.002193e+05,1.986830e+05,2.499457e+05,3.020073e+05,4.067240e+05,2.703563e+05,2.060617e+05,155565.000000,142811.666667
12,Stati Uniti,157375.333333,3.809060e+05,5.073203e+05,7.776507e+05,1.012412e+06,9.104950e+05,6.601363e+05,8.922360e+05,7.639960e+05,303561.333333,207603.000000
13,Svezia,83411.333333,8.280800e+04,7.671467e+04,9.237567e+04,1.436167e+05,2.465903e+05,9.743267e+04,1.200207e+05,7.830200e+04,29079.000000,19631.333333